
.col{
    float: left;
}


@media all and (max-width:1000px) {
    .col {
        padding: 0 30% ;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}

.info {
    width: 400px;
    height: 200px;
    border: solid 1px gray;
    border-radius: 10px;
    margin: 5px;
    background: white;
}

.inp{
    height: 25px;
    border-radius: 10px;
    margin: 5px;
}

.clap{
    border-radius: 10px;
    margin: 5px;
}
